{
    "publicName": "DefaultTest",
    "adminAccessToken": "Admin",
    "userAccessToken": "User",
    "httpPortNumber": 5670,
    "httpsPortNumber": 5671,
    "payloadSizeLimit": 524288,
    "pathwayMaximumPayloads": 200,
    "totalPayloadSizeLimit": 2147483648,
    "loggingLevel": 2,
    "ipWhitelist": []
}